* {
    margin: 0;
    padding: 0;
}

.main {
    background: lightcyan;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__calc {
    height: auto;
    width: auto;
    padding: 5px;
    background: white;
}
button{
    // border: 0;
}
.main__calc__display {
    height: auto;
    width: auto;
    margin: 5px;
    background: white;
}

.main__calc__display__result {
    text-align: end;
    font-size: 1.2em;
    padding: 15px 35px;
    background: lightgray;
}


.main__calc__operations {
    display: grid;
    grid-template-columns: auto auto auto auto;

    &__operators {
        margin: 5px;
        padding: 15px 35px;
        background: gray;
    }

}

.main__calc__numbers {
    display: grid;
    grid-template-columns: auto auto auto auto;

    &__num {
        margin: 5px;
        padding: 15px 35px;
        background: lightgray;
    }

    &__equal {
        grid-row: 2/5;
        grid-column: 4/4;
        display: flex;
        align-items: center;
        background: rgb(75, 75, 198);
        color: white;
    }
}